<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardDisplayRequiresUserAction</key>
	<true/>
	<key>SuppressesIncrementalRendering</key>
	<false/>
	<key>UIWebViewBounce</key>
	<true/>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<true/>
	<key>MediaPlaybackRequiresUserAction</key>
	<false/>
	<key>AllowInlineMediaPlayback</key>
	<true/>
	<key>OpenAllWhitelistURLsInWebView</key>
	<true/>
	<key>BackupWebStorage</key>
	<string>cloud</string>
	<key>ExternalHosts</key>
	<array>
		<string>*.plugins.longtailvideo.com</string>
		<string>*.l.longtailvideo.com</string>
		<string>*.media.showmeapp.com</string>
		<string>*.api.mixpanel.com</string>
		<string>*.google.com</string>
		<string>*.cdns.gigya.com</string>
		<string>*.c.brightcove.com</string>
		<string>*.com.thinkpcti.pcti</string>
		<string>*.gscounters.us1.gigya.com</string>
		<string>*.cdn.mxpnl.com</string>
		<string>*.s7.addthis.com</string>
		<string>*.secure.quantserve.com</string>
		<string>*.216.119.118.149</string>
		<string>*.dqam6mam97sh3.cloudfront.net</string>
		<string>*.a4.mzstatic.com</string>
		<string>*.tricedesigns.com</string>
		<string>*.android.com</string>
		<string>*.a5.mzstatic.com</string>
		<string>*.a2.mzstatic.com</string>
		<string>*.t2.schooltubecdn.com</string>
		<string>*.i2.ytimg.com</string>
		<string>*.linkedin.com</string>
		<string>*.cms.quantserve.com</string>
		<string>*.schooltube.com</string>
		<string>*.ct1.addthis.com</string>
		<string>*.pixel.quantserve.com</string>
		<string>*.gstatic.com</string>
		<string>*.cdn.sublimevideo.net</string>
		<string>*.youtube.com</string>
		<string>*.admin.brightcove.com</string>
		<string>*.google-analytics.com</string>
		<string>*.youtu.be</string>
		<string>*.4076.voxcdn.com</string>
		<string>*.pixel.rubiconproject.com</string>
		<string>*.teachingchannel.org</string>
		<string>*.www.youtube-nocookie.com</string>
		<string>*.response-o-matic.com</string>
		<string>*.tag.admeld.com</string>
		<string>*.d1ros97qkrwjf5.cloudfront.net</string>
		<string>*.s.ytimg.com</string>
		<string>*.ib.adnxs.com</string>
		<string>*.free-cgi.com</string>
		<string>*.i3.ytimg.com</string>
		<string>*.teachingchannel.pantherssl.com</string>
		<string>*.cm.g.doubleclick.net</string>
		<string>*.google.analytics.com</string>
		<string>*.i1.ytimg.com</string>
		<string>*.sadmin.brightcove.com</string>
		<string>*.elearnassignments.com</string>
		<string>*.pagead2.googlesyndication.com</string>
		<string>*.ws.sharethis.com</string>
		<string>*.showme.com</string>
		<string>*.eplayer.clipsyndicate.com</string>
		<string>*.video-static.clipsyndicate.com</string>
		<string>*.googleads.g.doubleclick.net</string>
		<string>*.abcnews.go.com</string>
		<string>*.ajax.googleapis.com</string>
		<string>*.a.abcnews.com</string>
		<string>*.eplayer-static.clipsyndicate.com</string>
		<string>*.googleadservices.com</string>
		<string>*.cdn-static.liverail.com</string>
		<string>*.3.bp.blogspot.com</string>
	</array>
	<key>Plugins</key>
	<dict>
		<key>Device</key>
		<string>CDVDevice</string>
		<key>Logger</key>
		<string>CDVLogger</string>
		<key>Compass</key>
		<string>CDVLocation</string>
		<key>Accelerometer</key>
		<string>CDVAccelerometer</string>
		<key>Camera</key>
		<string>CDVCamera</string>
		<key>NetworkStatus</key>
		<string>CDVConnection</string>
		<key>Contacts</key>
		<string>CDVContacts</string>
		<key>Debug Console</key>
		<string>CDVDebugConsole</string>
		<key>Echo</key>
		<string>CDVEcho</string>
		<key>File</key>
		<string>CDVFile</string>
		<key>FileTransfer</key>
		<string>CDVFileTransfer</string>
		<key>Geolocation</key>
		<string>CDVLocation</string>
		<key>PGExternalScreen</key>
		<string>PGExternalScreen</string>
		<key>ScreenShot</key>
		<string>ScreenShot</string>
		<key>Notification</key>
		<string>CDVNotification</string>
		<key>Media</key>
		<string>CDVSound</string>
		<key>Capture</key>
		<string>CDVCapture</string>
		<key>SplashScreen</key>
		<string>CDVSplashScreen</string>
		<key>Battery</key>
		<string>CDVBattery</string>
		<key>Globalization</key>
		<string>CDVGlobalization</string>
	</dict>
</dict>
</plist>
